*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header{
    background-image: url("images/banner/banner1.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: end;
    gap: 50px;
    text-align:end;
    align-items: center;
    width: 100%;
    margin: auto;
}
.head-portion{
    margin-right: 60px;
    padding: 50px;
    margin-left: 500px;
}
#title{
    font-size: 55px;
    font-weight: 900;
}
.head-description{
    color: #444343;
    font-size: 19px;
    padding: 10px;
    margin-top: 20px;
}
.btn-primary{
    margin-top: 15px;
    color: white;
    background-color: #F15B22;
    font-size: 20px;
    padding: 27px;
    border-radius: 5px;
    border-style: none;
}
.my-failure{
    display: flex;
    width: 70%;
    margin: auto;
    gap: 75px;
    align-items: center;
}
.my-profile{
    margin-top: 100px;
}
.failure-title{
    font-size: 40px;
    font-weight: 700;
}
.failure-description{
    color: #444343;
    font-size: 17px;
    margin-top: 15px;
}
.belief{
    margin-top: 10px;
    font-size: 17px;
    color: #444343;
}
.plan-title{
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
.plan-list{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}
.item-title{
    margin-top: 10px;
    font-weight: 700;
}
.item-para{
    color: #444343;
    margin-top: 10px;
}